// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
//
// Copyright (C) 2018 Chen-Yu Tsai <wens@csie.org>
//
// Bananapi camera module based on OV5640

#ifdef __DTO_TEST__
#include <arm64/allwinner/sun50i-a64-bananapi-m64.dts>
#else
/dts-v1/;
/plugin/;
#endif

#include <dt-bindings/clock/sun50i-a64-ccu.h>
#include <dt-bindings/gpio/gpio.h>

&{/} {
	i2c-gpio {
		compatible = "i2c-gpio";
		scl-gpios = <&pio 4 12 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; /* PE12 */
		sda-gpios = <&pio 4 13 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; /* PE13 */
		#address-cells = <1>;
		#size-cells = <0>;

		ov5640: camera@3c {
			compatible = "ovti,ov5640";
			reg = <0x3c>;
			pinctrl-names = "default";
			pinctrl-0 = <&csi_mclk_pin>;
			clocks = <&ccu CLK_CSI_MCLK>;
			clock-names = "xclk";

			reset-gpios = <&pio 4 16 GPIO_ACTIVE_LOW>; /* PE16 */
			powerdown-gpios = <&pio 4 17 GPIO_ACTIVE_HIGH>; /* PE17 */
			AVDD-supply = <&reg_dldo3>;
			DOVDD-supply = <&reg_aldo1>;
			DVDD-supply = <&reg_eldo3>;

			port {
				ov5640_to_csi: endpoint {
					remote-endpoint = <&csi_from_ov5640>;
					bus-width = <8>;
					data-shift = <2>;
					hsync-active = <1>; /* Active high */
					vsync-active = <0>; /* Active low */
					data-active = <1>;  /* Active high */
					pclk-sample = <1>;  /* Rising */
				};
			};
		};
	};
};

&csi {
	status = "okay";

	port {
		/* Parallel bus endpoint */
		csi_from_ov5640: endpoint {
			remote-endpoint = <&ov5640_to_csi>;
			bus-width = <8>;
			data-shift = <2>;
			hsync-active = <1>; /* Active high */
			vsync-active = <0>; /* Active low */
			data-active = <1>;  /* Active high */
			pclk-sample = <1>;  /* Rising */
		};
	};
};

&pio {
	csi_mclk_pin: csi-mclk-pin {
		pins = "PE1";
		function = "csi";
	};
};

&reg_dldo3 {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
	regulator-name = "cam-avdd";
};

&reg_eldo3 {
	regulator-min-microvolt = <1500000>;
	regulator-max-microvolt = <1500000>;
	regulator-name = "cam-dvdd";
};
